<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8"/>
    <title data-rh="true">404 - 页面没找到</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="知乎，中文互联网高质量的问答社区和创作者聚集的原创内容平台。"/>
</head>

<body>
<div id="root">
    <div class="App">

        <div class="ErrorPage">
            <div class="ErrorPage-container">
                <div class="ErrorPage-text">
                    <h1 class="ErrorPage-title">404</h1>
                    <p class="ErrorPage-subtitle">你似乎来到了没有知识存在的荒原</p>
                    <a href="https://www.zhihu.com"
                       type="button"
                       class="Button ErrorPage-primaryButton Button--primary Button--blue">
                        去往首页
                    </a>
                </div>
                <div class="ErrorPage-errorImageContainer">
                    <img class="ErrorPage-errorImage"
                         src="https://static.zhihu.com/heifetz/assets/liukanshan_wire.e7247fbf.svg"
                         alt="page error"/>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>