<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8"/>
    <title data-rh="true">首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="web page"/>
    <style>
        #root {
            display: flex;
            flex-direction: column;
        }
        .date {
            font-size: 32px;
            color: #555;
        }

    </style>
</head>

<body>

<div id="root">
    <h3>这里是首页</h3>
    <p class="date">
        ${date}
    </p>
</div>

</body>

</html>